*{
    
    color: red;
    background-color:white
    
    
    
    
}
#app{
    color: blue;
    font-size: 15px;
    font-style: italic;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
}
#ssc{
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    

}
#net{
    margin-top: 100px;
    margin-bottom: 40px;
    font-size: 30px;
}
#ven{
    margin-top: 200px;
    margin-bottom: 40px;
    font-size: 30px;
}
#sub{
    width: 70px;
    color: gray;
    margin-top: 20px;
}
#Rad{
    
    color: black;
}
#Tel{
    margin-top: 50px;
}
#Verify{
    margin-top: 70px;
    margin-bottom: 50px;
    text-align: center;
    
}
#cor{
    margin-top: 20px;
    margin-bottom: 0;
    
}
#pho{
    margin-top: 30px;
}
.dive{
    margin-left: 350px;
}


#fol{
    color: gray;
}